In [3]:
import pandas as pd
import numpy as np

data = {
    "Date": pd.date_range("2023-01-01", periods=10, freq="D"),
    "Close": np.arange(10) + 1
}

In [4]:
df = pd.DataFrame(data)

In [5]:
df.head()

        Date  Close
0 2023-01-01      1
1 2023-01-02      2
2 2023-01-03      3
3 2023-01-04      4
4 2023-01-05      5

In [6]:
df.sort_values(by="Date")
df = df[["Close"]]

In [9]:
# data preparation, creating features
n_inputs = 7
lista = []
for index in range(len(df.index) - n_inputs) :
    obj = dict()
    for j in range(n_inputs):
        obj[f"day_{j+1}"] = df.iloc[j+index]["Close"]
    obj["target_day"] = df.iloc[n_inputs+index]["Close"]
    lista.append(obj)

new_df = pd.DataFrame(lista)

#data formatting
new_df = new_df.round()
new_df = new_df.astype("int")

#data transformation
new_df = new_df.apply(np.log)

In [10]:
new_df.to_dict()

{'day_1': {0: 0.0, 1: 0.6931471805599453, 2: 1.0986122886681098},
 'day_2': {0: 0.6931471805599453,
  1: 1.0986122886681098,
  2: 1.3862943611198906},
 'day_3': {0: 1.0986122886681098,
  1: 1.3862943611198906,
  2: 1.6094379124341003},
 'day_4': {0: 1.3862943611198906, 1: 1.6094379124341003, 2: 1.791759469228055},
 'day_5': {0: 1.6094379124341003, 1: 1.791759469228055, 2: 1.9459101490553132},
 'day_6': {0: 1.791759469228055, 1: 1.9459101490553132, 2: 2.0794415416798357},
 'day_7': {0: 1.9459101490553132,
  1: 2.0794415416798357,
  2: 2.1972245773362196},
 'target_day': {0: 2.0794415416798357,
  1: 2.1972245773362196,
  2: 2.302585092994046}}

In [11]:
new_df

,day_1,day_2,day_3,day_4,day_5,day_6,day_7,target_day
0,0.000000,0.693147,1.098612,1.386294,1.609438,1.791759,1.945910,2.079442
1,0.693147,1.098612,1.386294,1.609438,1.791759,1.945910,2.079442,2.197225
2,1.098612,1.386294,1.609438,1.791759,1.945910,2.079442,2.197225,2.302585